@import "partials/utilities.scss";


.banner{
    background-image:linear-gradient(rgba(68, 66, 66, 0.5),rgba(160, 149, 149, 0.5)), url(/assets/img/blog-banner.jpg);
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $whiteColor;

    h2{
        font: {
            weight:$fontWLG;
            size: 50px;
        }
        line-height: 60px;
        text-align: center;
    }

    span{
        margin: 0 10px;
    }
    a{
        color: $whiteColor;
        font: {
            weight:$fontWSM;
            size: 24px;
        }
        line-height: 30px;
    }
}


.blog-section{
    padding: 70px 0 30px 0;
}
.blog-card{
    background: $whiteColor;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.08);

    .blog{
        padding:10px ;

        .img-box{
            text-align: center;
        }
        .blog-text{
            padding: 20px 7px ;
        }

        .date{
            font: {
                weight:$fontWLG;
                size: 17px;
            }
            line-height: 22px;
            color: $lightGray;
        }
        .calender{
            font: {
                weight:$fontWLG;
                size: 17px;
            }
            line-height: 22px;
            color: $lightGray;
        }
        .blog-title{

            font: {
                weight:$fontWLG;
                size: 30px;
            }
            line-height: 22px;
            color: #111111;
        }

        .blog-desc{
            font: {
                weight:$fontWSM;
                size: 16px;
            }
            line-height: 24px;
            color: $lightGray;
            .read-more{
                font-weight: $fontWXL;
                color: $depOrangeColor1;
                &:hover{
                    color: $depOrangeColor1;
                }
            }
        }
    }
}