@import "partials/utilities.scss";


.courses{
    padding-top: 40px;
}
.filter-box{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;

}
// filter
.filter-btn{
    background: #F6F5F5;
    border-radius: 45px;
    padding: 9px 16px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;

    select {
        border: none;
        background: #F6F5F5;
        color: $orangeColor;
        outline: none;
        border: none;
    }
}

@media only screen and(max-width:400px) {
    .filter-box{
       flex-direction: column;
    }
    .search-form{
        input{
            width: 100%;
            margin-top: 10px;
        }
    }
}
 
.search-form{
    input{
        outline: none;
        background: #F9F9F9;
        border-radius: 45px;
        padding: 9px 16px;
        border: none;
        font-weight: 400;
        font-size: 18px;

    }
    .search-icon{
        margin-left: -37px;
        display: inline-block;
    }
}
// courses
.course-card{
    background: #FFFFFF;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.08);
    border-radius: 32.4723px;
    h3{
        font: {
            weight:$fontWSM;
            size: 29px;
            line-height: 29px;
        }
        color: $darkGray

    }

    img{
        width: 100%;
    }
    p{
        font: {
            weight:$fontWSM;
            size: 15px;
            line-height: 24px;
        }
        color: $darkGray
    }
    .course-desc{
        padding: 20px;
    }
    margin: 5px;
    
}



// footer
.course-footer{
    background: #FEF7F6;
    padding: 30px 0px;
    .social{
        display:flex;
        justify-content: center;
        a{
            display: inline-block;
            margin: 7px 10px;
            .linkedin{
                margin-top: -5px;
            }
        }
    }
    .f-desc{
        display: flex;
        justify-content: space-around;
        p{
            font-size: 16px;
            line-height: 22px;
            color: #A0A0A0;
            padding: 0px 5px;
        }
    }
}


