
// font family
$sansFont:Source Sans Pro, sans-serif; 
$ralewayFont:Raleway, sans-serif;

// font wight
$fontWSM:400;
$fontWMD:600;
$fontWLG:700;
$fontWXL:900;

// color
$dark1:#000;
$darkGray:#414141;
$lightGray:#707070;
$whiteColor:#FFFFFF;
$secondWhite:#FEF7F6;
$secOrangeColor:#F47F6F;
$orangeColor:#F15A46;
$depOrangeColor:#D63722;
$depOrangeColor1:#E3402B;
$yellowColor:#FFA800;

$activeColor: $orangeColor;
.in-activeColor{
    color: $lightGray;
} 

$whiteOffColor:#FEF7F6;

// breakPoints
$breakpoint-sm: 576px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

textarea:focus,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 10px 7px;
}

body, p{
    font: {
        size: 16px;
        weight: $fontWSM;
      }
}

p{
    margin: 0 0 15px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: $fontWMD;
    margin: 0 0 15px;
    line-height: 1.2em;

}

.customBtn{
    display: inline-block;
    background: $orangeColor;
    border-radius: 10px;
    padding: 10px 15px;
    color: $whiteColor;
    line-height: 24px;
    font: {
        weight:$fontWSM;
        size: 18px;
    }
  
    &:hover{
        text-decoration: none;
        background-color: $whiteColor;
        color: $orangeColor;
        border: 1px solid $orangeColor;
    }
}

.btn-orange{
    display: inline-block;
    background: $orangeColor;
    border-radius: 10px;
    padding: 10px 15px;
    color: $whiteColor;
    line-height: 24px;
    font: {
        weight:$fontWSM;
        size: 18px;
    }

    &:hover{
        color: $whiteColor;
    }
}
.btn-white{
    display: inline-block;
    background: $whiteColor;
    border-radius: 10px;
    padding: 10px 15px;
    color: $orangeColor;
    line-height: 24px;
    font: {
        weight:$fontWSM;
        size: 18px;
    }

    &:hover{
        color: $orangeColor;
    }
}

